@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
  background-image: url("./assets/qa-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr-code-input {
  display: flex;
  background: #030616;
  padding: 8px;
  gap: 10px;
  border-radius: 20px;
  border: 2px solid #263fa9;
  width: 100%;
  max-width: 35rem;
  margin: 1rem;
}

.qr-code-input input {
  padding: 14px 0px;
  padding-left: 20px;
  min-width: 10cm;
  background: transparent;
  outline: none;
  border: none;
  color: #F2F5F9;
  font-size: large;
  flex-grow: 1;
  flex-shrink: 1;
}

.qr-code-input input::placeholder{
    color: #F2F5F9;
}

.qr-code-input button {
  padding: 14px 40px;
  background-color: #263fa9;
  border: none;
  font-weight: bolder;
  color: #F2F5F9;
  border-radius: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

.qr-container{
    background: #f2f5f92d;
    padding: 25px;
    border-radius: 50%;
    margin-top: 6rem;
}

.qr-code{
    background: #F2F5F9;
    padding: 30px;
    border-radius: 20px;
}

.other-button{
    display: flex;
    gap: 10px;
    margin-top: 2rem;
    width: 100%;
    max-width: 10cm;
}

.other-button button{
    background: #263fa9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    color: #F2F5F9;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
}

@media (max-width: 600px) {
  .qr-code-input input {
    min-width: 60%;
  }

  .qr-code-input button {
    padding: 14 25px;
  }
}
